node_modules/
.next/
.output/
dist/
build/
.env
.env.local
.env*.local
*.log
.DS_Store
.vercel
.turbo
coverage/
.lighthouseci/
playwright-report/
test-results/

# Sentry Config File
.env.sentry-build-plugin
